.text {
	font-size: 20px;
	line-height: 1.6;
	color: #c4c5c5;
	padding: 10px 10px;
	margin: 0 auto;
	text-align: center;
}

.signInWrapper {
	margin-top: 10px;
}

.signInLink {
	margin-left: 10px;
	color: #0077ff;
	font-weight: bold;
	text-decoration: none;
}
